# RomExchange API Sandbox

API Docs : https://jessicayeh.github.io/rom-exchange-openapi/#section/Recent-Changes

In [11]:
import requests
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
url = 'https://www.romexchange.com/api?item=hypnoticlog&exact=false'
 
headers = {'User-Agent': 'XY', 'Content-type': 'application/json'}

In [3]:
r = requests.get(url, headers = headers)

In [4]:
r.status_code

200

In [5]:
r.headers

{'Date': 'Sun, 31 May 2020 01:34:23 GMT', 'Server': 'nginx/1.17.6', 'Content-Type': 'application/json', 'Content-Length': '497', 'Vary': 'Accept-Encoding', 'Content-Encoding': 'gzip', 'X-Server-Cache': 'true', 'X-Proxy-Cache': 'MISS'}

In [6]:
print(r.text)

[{"name":"Hypnotic Log","type":11,"image":null,"global_sea_diff":-27.5,"global":{"week":{"data":[{"snap":false,"price":1015,"time":"2020-01-08T08:22:32Z"},{"snap":false,"price":1037,"time":"2020-01-09T08:41:25Z"},{"snap":false,"price":970,"time":"2020-01-10T08:39:19Z"},{"snap":false,"price":913,"time":"2020-01-11T08:43:45Z"},{"snap":false,"price":874,"time":"2020-01-12T08:36:45Z"},{"snap":false,"price":872,"time":"2020-01-13T08:37:11Z"},{"snap":false,"price":814,"time":"2020-01-14T08:29:12Z"}],"change":-19.8},"latest":814,"latest_time":"2020-01-14T08:29:12Z"},"sea":{"week":{"data":[{"snap":false,"price":601,"time":"2020-01-08T11:01:27Z"},{"snap":false,"price":618,"time":"2020-01-09T11:34:00Z"},{"snap":false,"price":633,"time":"2020-01-10T11:59:45Z"},{"snap":false,"price":636,"time":"2020-01-11T11:47:37Z"},{"snap":false,"price":634,"time":"2020-01-12T11:22:03Z"},{"snap":false,"price":603,"time":"2020-01-13T11:29:58Z"},{"snap":false,"price":590,"time":"2020-01-14T11:14:47Z"}],"change":-1.8},"latest":590,"latest_time":"2020-01-14T11:14:47Z"},"autocorrect_accuracy":95.7},{"name":"HP Potion","type":16,"image":null,"global_sea_diff":-24.8,"global":{"week":{"data":[],"change":0},"latest":782817,"latest_time":"2019-12-30T11:42:39Z"},"sea":{"week":{"data":[{"snap":true,"price":598241,"time":"2020-01-08T11:12:32Z"},{"snap":true,"price":598963,"time":"2020-01-10T12:10:44Z"},{"snap":false,"price":602093,"time":"2020-01-11T12:11:22Z"},{"snap":false,"price":592292,"time":"2020-01-13T11:53:07Z"},{"snap":true,"price":588638,"time":"2020-01-14T11:25:23Z"}],"change":-1.6},"latest":588638,"latest_time":"2020-01-14T11:25:23Z"},"autocorrect_accuracy":60}]

In [29]:
j = r.json()

In [74]:
df = pd.DataFrame.from_dict(j[0])
df

,name,type,image,global_sea_diff,global,sea,autocorrect_accuracy
week,Hypnotic Log,11,None,-27.5,"{'data': [{'snap': False, 'price': 1015, 'time...","{'data': [{'snap': False, 'price': 601, 'time'...",95.7
latest,Hypnotic Log,11,None,-27.5,814,590,95.7
latest_time,Hypnotic Log,11,None,-27.5,2020-01-14T08:29:12Z,2020-01-14T11:14:47Z,95.7

In [59]:
#Attempt at pivot table to get at the info in the dict
df.pivot_table(df, values=df.global.items)

SyntaxError: invalid syntax (<ipython-input-59-fcae6606e945>, line 1)

0   -27.5
1   -24.8
Name: global_sea_diff, dtype: float64

In [68]:
df2 = pd.DataFrame.from_dict(j)
df2

,name,type,image,global_sea_diff,global,sea,autocorrect_accuracy
0,Hypnotic Log,11,None,-27.5,"{'week': {'data': [{'snap': False, 'price': 10...","{'week': {'data': [{'snap': False, 'price': 60...",95.7
1,HP Potion,16,None,-24.8,"{'week': {'data': [], 'change': 0}, 'latest': ...","{'week': {'data': [{'snap': True, 'price': 598...",60.0

In [69]:
df2

,name,type,image,global_sea_diff,global,sea,autocorrect_accuracy
0,Hypnotic Log,11,None,-27.5,"{'week': {'data': [{'snap': False, 'price': 10...","{'week': {'data': [{'snap': False, 'price': 60...",95.7
1,HP Potion,16,None,-24.8,"{'week': {'data': [], 'change': 0}, 'latest': ...","{'week': {'data': [{'snap': True, 'price': 598...",60.0

# Solution from Stack Overflow:# cities buffer will hold successes
cities = []
# iterate over the list of dictionaries:
for i, each in enumerate(ddf['attributes']):
    # check if the keys is in that dictionary, if so, keep the city name
    if 'Take-out' in ddf['attributes'][i].keys():
        # the index is named 'cities' and each position is a city name, so:
        cities.append(ddf.index[i])
print(cities)

list

In [136]:
# Attempt to make a dataframe out of just the dict header you need i.e. data header:
df3 = pd.DataFrame(j[0]['global']['week']['data'])
df3

    snap  price                  time
0  False   1015  2020-01-08T08:22:32Z
1  False   1037  2020-01-09T08:41:25Z
2  False    970  2020-01-10T08:39:19Z
3  False    913  2020-01-11T08:43:45Z
4  False    874  2020-01-12T08:36:45Z
5  False    872  2020-01-13T08:37:11Z
6  False    814  2020-01-14T08:29:12Z

In [137]:
# Reference for above Dataframe indexing
#j[0]['global']['week']
j[0]

{'name': 'Hypnotic Log',
 'type': 11,
 'image': None,
 'global_sea_diff': -27.5,
 'global': {'week': {'data': [{'snap': False,
     'price': 1015,
     'time': '2020-01-08T08:22:32Z'},
    {'snap': False, 'price': 1037, 'time': '2020-01-09T08:41:25Z'},
    {'snap': False, 'price': 970, 'time': '2020-01-10T08:39:19Z'},
    {'snap': False, 'price': 913, 'time': '2020-01-11T08:43:45Z'},
    {'snap': False, 'price': 874, 'time': '2020-01-12T08:36:45Z'},
    {'snap': False, 'price': 872, 'time': '2020-01-13T08:37:11Z'},
    {'snap': False, 'price': 814, 'time': '2020-01-14T08:29:12Z'}],
   'change': -19.8},
  'latest': 814,
  'latest_time': '2020-01-14T08:29:12Z'},
 'sea': {'week': {'data': [{'snap': False,
     'price': 601,
     'time': '2020-01-08T11:01:27Z'},
    {'snap': False, 'price': 618, 'time': '2020-01-09T11:34:00Z'},
    {'snap': False, 'price': 633, 'time': '2020-01-10T11:59:45Z'},
    {'snap': False, 'price': 636, 'time': '2020-01-11T11:47:37Z'},
    {'snap': False, 'price': 634, 'time': '2020-01-12T11:22:03Z'},
    {'snap': False, 'price': 603, 'time': '2020-01-13T11:29:58Z'},
    {'snap': False, 'price': 590, 'time': '2020-01-14T11:14:47Z'}],
   'change': -1.8},
  'latest': 590,
  'latest_time': '2020-01-14T11:14:47Z'},
 'autocorrect_accuracy': 95.7}